body { margin: 0; font-family: Arial; background: #f0fff4; }
header { background: #28a745; color: white; padding: 20px; text-align: center; }
nav { background: #d4f5d8; padding: 10px; display: flex; gap: 20px; justify-content: center; }
nav a { text-decoration: none; color: #1d6d2e; font-weight: bold; }

.form-box { padding: 20px; }
label { font-weight: bold; display: block; margin-top: 10px; }
input { width: 100%; padding: 10px; border-radius: 8px; border: 1px solid #aaa; }
button {
    margin-top: 15px; padding: 10px 15px; border: none;
    background: #28a745; color: white; font-weight: bold; border-radius: 8px;
}

.img-placeholder {
    width: 100%; height: 180px; background: #c7f7d1;
    border: 2px dashed #28a745; border-radius: 12px;
    margin-top: 20px; display: flex; justify-content: center; align-items: center;
}